
.container{
  background-color: lightcyan;
  width: 70%;
  height: 30vh;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.container-form{
  display: flex;
  justify-content: space-evenly;
}

.pulsanti{
  text-align: center;
  margin-top: 50px;
}

