body{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 117, 255);
}

.container{
  background-color: rgba(0, 0, 0, 0.904);
  width: 70%;
  height: 30vh;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.container-form{
  display: flex;
  justify-content: space-evenly;
}

.pulsanti{
  text-align: center;
  margin-top: 50px;
}

